@import "tailwindcss";

@theme {
  --color-warning: #fcc500;
  --color-error: #fc1400;
  --color-info: #60a6bc;
  --color-black: #1d1d1d;
  --color-light: #fafafa;
  --color-success: #0cc084;
  --color-primary: #60a6bc;

  --font-sans: "Montserrat", sans-serif;
  --font-mono: "Overpass Mono", monospace;
}

:root {
  scroll-behavior: smooth;
}

.debug {
  * {
    outline: 1px solid red;
  }
}